input[type="file"] {
    display: none;
}

.file-label {
    display: inline-block;
    color: #ed7966;
    background-color: white;
    text-align: center;
    outline: #ed7966;
    border: 2px solid #ed7966;
    padding: 10px 30px;

}