input[type="file"] {
    display: none;
}

.file-label {
    display: inline-block;
    color: #ed7966;
    background-color: white;
    text-align: center;
    outline: #ed7966;
    border: 2px solid #ed7966;
    padding: 10px 30px;

}

@media only screen and (max-width: 400px) and (min-width:320px) {
    input {
        max-width: 250px;
        max-height: 40px;
    }
    .file-label {
        display: inline-block;
        color: #ed7966;
        background-color: white;
        text-align: center;
        outline: #ed7966;
        border: 2px solid #ed7966;
        padding: 5px 10px;
    
    }
    .lottie{
        max-width: 250px;
        height: auto;
    }
    
}